.trades-container{
     width: calc(100% - 20%);
  transition: margin-left 0.3s ease;
  overflow-y: auto;  /*Scrollable content if needed */
  right:0;
  top:0;
  position: fixed;
  margin:1px;
  max-height: 100vh;
  background-color: var(--color-tertiary);

}

.trades-container.collapsed {
   /*margin-left: 40px;/* Adjusted margin for collapsed side menu */
   width: calc(100% - 6%);
   transition: margin-left 0.3s ease; 
  }
.TradesPage{
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    /* overflow-y: auto; 
    min-height: 150vh;
    width: 100%;
    background-color: var(--color-tertiary); */
}