.Trades-Container{
    width:70%;
    background-color: var(--color-primary);
    min-height: 60vh;
    
}

.TradesPage{
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    min-height: 100vh;
    width: 100%;
    background-color: var(--color-tertiary);
    
}

#Trades-Filter {
    /* position: relative; */
    /* top: -220px; */
    /* left: 120px;   */
    padding: 10px;
    border-radius: var(--font-size-small);
    background-color: var(--color-primary);
    color: white;
    border-color: var(--color-secondary);
    cursor: pointer;
    align-self: center;
    margin: 5px;

    
   
}

.TradesPage-Row{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    min-height: 100vh;

    width: calc(100% - 20%);
    right:0;
    top:0;
    position: fixed;
    border-style: solid;
    
    
    

}