@import url('../../variables.css');



/* Dashboard.css */

.dashboard {
    background-color: rgb(120, 150, 200); 
    border-radius: 1.5rem; /* Rounded borders */
    padding: 20px;
    /* margin-left: 268px; Default margin to account for side menu width */
    transition: margin-left 0.3s ease; /* Smooth transition */
    height: 100vh; /* Full height minus padding */
    width: calc(100% - 23%);
    overflow-y: auto; /* Scrollable content if needed */
    right:0;
    top:0;
    position: fixed;
    margin:8px;
    
  }
  
  /* Adjust margin when side menu is collapsed */
  .dashboard.collapsed {
   /*margin-left: 40px;/* Adjusted margin for collapsed side menu */
   width: calc(100% - 120px);
   transition: margin-left 0.3s ease; 
  }
  
  /* Full width on mobile */
  @media (max-width: 768px) {
    .dashboard {
      margin-left: 0; /* No margin on mobile */
      width: calc(100% - 15%);
    }
  }

.profileImage{
  width:60px;
  height:60px;
  border-radius: 50%;
  margin-left: 20px;
}

.user-detail-container{
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
}
.greeting-text p{
  font-size: var(--font-size-xlarge);
  font-weight: 700;
  height:100%
}

.profile {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  height:100%
}


.bell-icon{
  font-size:1.6rem ;

}


.dashboard-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  padding: 1rem;
  margin-bottom:1rem;
}

.broker-container,
.open-trades-container,
.closed-trades-container {
  height: 6rem;
  /*width: 20rem;  or use 100% width with flex/grid */
  min-width: 10rem; 
  background-color: rgb(240, 248, 255);
  border-radius: var(--font-size-xlarge);
  margin: 20px;
 /* padding: 20px;*/
  border: 1px solid black
}

.broker-container{
background-image : url('../../assets/images/0_nof8z5IpZaQiG1-7.png');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}
.balance-container{
  height:6rem;
  min-width: 10rem;
  background-color: rgb(240, 248, 255);
  border-radius: var(--font-size-xlarge);
  margin: 20px;
  border: 1px solid black;

}

.balance-container{

  text-align: center;
}

.chart-container,
.news-events-container {
  height: 20rem;
  width: 100%; /* Let grid handle the width */
  background-color: aliceblue;
  border-radius: var(--font-size-xlarge);
  margin: 20px;
  border: 1px solid black;
}

.wallet-container {
  font-size: 2rem; /* Adjust the size as needed */
  color: #333; /* Optional: Change the color */
}
.balance{
  color: grey;
  /*text-align:center;*/

}
.amount{
  font-size: 2.5rem;
  font-weight: 700;
  margin:0;
  padding: 0;
 /* text-align:center;*/
  line-height: 1.5px;
}



@media (max-width: 768px) {
  .stats-row {
    grid-template-columns: 1fr 1fr;
  }
  
  .main-content {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  .stats-row {
    grid-template-columns: 1fr;
  }
}