@import url('../../variables.css');

.Temp-Trade-Container{
    width:90%;
    background-color: var(--color-primary);
    height: 100vh;
}

.stock-header{
    background-color: var(--color-secondary) ;
}

.stock-row {
  display: flex;
  align-items: center;
  width: 100%;
}

.stock-name {
  flex: 0 0 auto;      /* stays at the left */
  font-weight: bold;
}

.stock-status-buy {
  margin-left: 1rem;   /* space after stock name */
  color: green;        /* or red for Sell */
}

.stock-status-sell {
  margin-left: 1rem;   /* space after stock name */
  color: red;        /* or red for Sell */
}

.stock-losing {
  margin-left: auto;   /* pushes to far right */
  font-weight: bold;
  color: red;      /* example color */
  margin-right: 1rem; /* space from right edge */
}

.stock-winning {
  margin-left: auto;   /* pushes to far right */
  font-weight: bold;
  color: green;      /* example color */
  margin-right: 1rem; /* space from right edge */
}

.acc-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.25rem;
  color:rgb(117, 117, 117)
}

.acc-left {
  flex: 0 0 auto;
  text-align: left;
}

.acc-center {
  flex: 1  1 auto; /* Takes available space */
  text-align:right; /* Centered with space on both sides */
  margin-right: 40%; /* Space from right edge */
  
}

.acc-right {
  flex: 0 0 auto;
  text-align: right;
}

.trade-accordion{
  margin: 5px; /* Adds space on all sides */

}