:root {
    --color-primary: #F1FFFA;
    --color-secondary: #CCFCCB;
    --color-tertiary:#96E6B3;
  
  
    --font-size-small: 0.875rem;
    --font-size-medium: 1rem;
    --font-size-large: 1.125rem;
    --font-size-xlarge: 1.25rem;
  
  }
.dark {
    --color-primary: #494E47;
    --color-secondary: #568259;
    --color-tertiary: #96E6B3;


    --font-size-small: 0.875rem;
    --font-size-medium: 1rem;
    --font-size-large: 1.125rem;
    --font-size-xlarge: 1.25rem;
  
}
  

body{
    background-color: var(--color-primary);
    font-family: Arial, sans-serif;
    width: 100%;
    min-height: 100vh;
}

#logoImage{
    height: 4rem;

}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    height: 5rem;
  
}

main{
    width: 80%;
    margin: auto;
    padding: 1rem;
    flex-grow: 1;
    justify-self: center;
    background-color: var(--color-secondary);
    border-radius: var(--font-size-small);
    align-self: center;

}


.con-header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
}